<div class="row" ng-show="parties.length">
    <div class="col-xs-12 col-md-4 pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">Legenda</div>
            <table class="table">
                <tr class="visible-sm visible-xs">
                    <td class="text-center"><i class="fa fa-tag"></i></td>
                    <td>Naziv stranke</td>
                </tr>
                <tr class="visible-sm visible-xs">
                    <td class="text-center"><i class="fa fa-users"></i></td>
                    <td>Broj glasova</td>
                </tr>
                <tr class="visible-sm visible-xs">
                    <td class="text-center"><i class="fa fa-bar-chart"></i></td>
                    <td>Postotak glasova</td>
                </tr>
                <tr class="visible-sm visible-xs">
                    <td class="text-center"><i class="fa fa-trophy"></i></td>
                    <td>Osvojeni mandati</td>
                </tr>
                <tr class="visible-sm visible-xs">
                    <td class="text-center"><i class="fa fa-trash"></i></td>
                    <td>Brisanje unosa</td>
                </tr>
                <tr>
                    <td class="alert alert-danger"></td>
                    <td>Nisu prešli prag</td>
                </tr>
                <tr>
                    <td class="alert alert-warning"></td>
                    <td>Nisu osvojili mandat</td>
                </tr>
            </table>
        </div>
    </div>
</div>